* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.877) !important;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .nav-item .nav-link {

    font-weight: lighter;
    font-size: 19px;
}

.jumbotron {
    position: relative;
    background-image: url("images/jumbotron-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


/* Overlay oscuro */
.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* ajusta el 0.4 para más o menos opacidad */
    z-index: 1;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-top: 20vh;
}

.jumbotron p {

    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 5vh;
}

.jumbotron .btn1 {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: bold;
}

.jumbotron .btn1:hover {
    background-color: #f0f0f0;
    color: black;
}

.jumbotron .btn2 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;

    font-weight: bold;
}

/* Para que el texto quede encima del overlay */
.jumbotron>* {
    position: relative;
    z-index: 2;
}

.container-portfolio h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.container-portfolio p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    color: #333;
    font-size: 1.1rem;
}


.container-images .image-right img {
    width: 500px;
    height: 500px;
}

.container-images .image-left img {
    width: 800px;
    height: 1015px;
}

.container-images .image-left-2 img {
    width: 612px;
    height: 382px;
}

.container-images .image-right-2 img {
    width: 612px;
}

.container-images img {
    border-radius: 15px
}

/* Scroll down responsive */
.scroll-down {
    position: absolute;
    bottom: 2rem; /* Ajusta la distancia desde abajo */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
}

/* Flecha centrada con ::after */
.scroll-down::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: -20px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    animation: bounce 1.2s infinite;
}

/* Animación solo vertical */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0) rotate(45deg);
    }

    40% {
        transform: translateX(-50%) translateY(6px) rotate(45deg);
    }

    60% {
        transform: translateX(-50%) translateY(3px) rotate(45deg);
    }
}

.about-section .img-about img {
    width: 90%;
    border-radius: 15px;
}

.about h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: start !important;
}

.about-section .about-text {
    text-align: left;
    color: #0c0c0c;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
}

.container-services{
    margin: 0 auto;
}

.my-proccess .circle-number{
    border-radius: 250px;
    padding: 20px;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #030213;
    color: white;
}

footer{
    background-color: #030213;
}








/* Para móviles */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .jumbotron .scroll-down {
        margin-top: 12rem;
        /* ajusta según tu diseño */
    }

    .jumbotron .description-hero {
        margin-bottom: 9vh;
        width: 90%;
    }

    .jumbotron .scroll-down {
        margin-top: 8rem;
    }

    .container-images .image-right img, .container-images .image-left img, .container-images .image-left-2 img, .container-images .image-right-2 img{
        width: 100%;
        height: 350px;
}


/* Para tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Para desktop */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}
}