* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #030213;
    --secondary-color: rgba(255, 255, 255, 0.877);
    --accent-color: #f39c12;
    --ulr-background-jumbotron: url("images/jumbotron-bg.jpg");
    --font-size-text: 1.5rem;
    --font-size-mobile: 20px;
}




.navbar {
    width: 100%;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .nav-item .nav-link {

    font-size: 19px;
    color: #000 !important;
}

.jumbotron {
    position: relative;
    background-image: var(--ulr-background-jumbotron);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


/* Overlay oscuro */
.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-top: 20vh;
}

.jumbotron p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    color: white;
    font-size: var(--font-size-text);
    margin-top: 2rem;
    margin-bottom: 5vh;
}

.jumbotron .btn1 {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: bold;
}

.jumbotron .btn1:hover {
    background-color: #f0f0f0;
    color: black;
}

.jumbotron .btn2 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
}

/* Para que el texto quede encima del overlay */
.jumbotron>* {
    position: relative;
    z-index: 2;
}

.container-portfolio {
    margin-bottom: 115px;
}

.container-portfolio h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.container-portfolio p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    color: #333;
    font-size: var(--font-size-text);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.item {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 2;
    overflow: hidden;
    border-radius: 16px;
}

.item-large {
    grid-column: span 1;
    grid-row: span 3;
    aspect-ratio: auto;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}


/* Scroll down responsive */
.scroll-down {
    position: absolute;
    bottom: 2rem;
    /* Ajusta la distancia desde abajo */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
}

/* Flecha centrada con ::after */
.scroll-down::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: -20px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    animation: bounce 1.2s infinite;
}

/* Animación solo vertical */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0) rotate(45deg);
    }

    40% {
        transform: translateX(-50%) translateY(6px) rotate(45deg);
    }

    60% {
        transform: translateX(-50%) translateY(3px) rotate(45deg);
    }
}

.about-section {
    background-color: #d6d4d4;
}

.about-section .img-about img {
    width: 90%;
    border-radius: 15px;
}

.about h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: start !important;
}

.about-section .about-text {
    text-align: left;
    color: #0c0c0c;
    font-size: var(--font-size-text);
    font-weight: 300;
    line-height: 1.6;
}

.container-services {
    margin: 0 auto;
}

.services-section .service-detail {
    font-size: var(--font-size-text) !important;
}

.my-proccess .circle-number {
    border-radius: 250px;
    padding: 20px;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #030213;
    color: white;
}

.my-proccess .text-proccess {
    font-size: var(--font-size-text);
}

.btn {
    background-color: #030213;
}

.btn-social {
    background-color: #030213;
    padding: 12px;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
}

.metric-link {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 18px;
}

.portfolio-link {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}

footer {
    background-color: #030213;
}









/* Para móviles */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .info-contact-div .d-flex {
        flex-wrap: wrap !important;
    }


    .jumbotron .scroll-down {
        margin-top: 12rem;
    }

    .jumbotron .description-hero {
        margin-bottom: 9vh;
        width: 90%;
    }

    .jumbotron .scroll-down {
        margin-top: 8rem;
    }

    .container-images .image-right img, .container-images .image-left img, .container-images .image-left-2 img, .container-images .image-right-2 img {
        width: 100%;
        height: 350px;
    }

    .social-links-div {
        text-align: center;
        margin: 0 auto !important;
    }

    .info-contact-div h3 {
        text-align: center;
        font-weight: bold;
        font-size: 17px;
    }

    .container-portfolio p {
        text-align: center;
        font-size: var(--font-size-mobile);
    }

    .container-portfolio .container-images {
        margin-top: 20px;
        height: auto;
        width: 100%;
    }

    .portfolio-grid {
        grid-template-columns: 2fr;
    }

    .item-large {
        grid-column: span 2;
        grid-row: span 1;
    }

    .item {
        aspect-ratio: auto;
    }

    .about-section .about-text {
        text-align: center;
        font-size: var(--font-size-mobile);
    }

    .metrics-row {
        text-align: center;
    }

    .metric-link {
        background-color: var(--primary-color);
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        width: 50%;
        margin: 0 auto;
        margin-top: 5px;
        font-size: 18px;
    }

    .services-section .service-detail {
        font-size: var(--font-size-mobile) !important;
    }

    .services-section p {
        font-size: var(--font-size-mobile);
    }

    .my-proccess .text-proccess {
        font-size: var(--font-size-mobile);
    }

    footer p {
        font-size: var(--font-size-mobile);
    }
}

/* Para tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-large {
        grid-column: span 2;
    }

    .about-section .img-about,
    .about-section .col-md-6 {
        text-align: center;
    }

    .about-section>.container>.row>div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-section img {
        margin-bottom: 20px;
        width: 100%;
    }

    .metrics-row img {
        width: 50px;
    }
}

/* Para desktop */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}
